{% extends "layout.html" %} {% block title %}Login | When2Meet Clone{% endblock
%} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='main/css/login.css') }}"
/>
{% endblock %} {% block content %}
<div class="page-wrapper">
  <div class="login-container">
    <h2>🔐 Login</h2>
    <form method="POST">
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          name="email"
          required
          placeholder="Enter your email"
        />
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          name="password"
          required
          placeholder="Enter your password"
        />
      </div>

      <button type="submit">Login</button>
    </form>
    <p>
      Don't have an account?
      <a href="{{ url_for('main_routes.register') }}">Register here</a>
    </p>
  </div>
</div>
{% endblock %}
